body {
  width: 80%;
  margin: auto;
  font: 100% sans-serif;
  align-content: center;
  height: 100vh;
}

.btnE {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  background-color: rgb(13, 110, 253);
  border-color: #0d6efd;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.btnE:hover {
  background-color: rgb(11, 94, 215);
  color: white;
}
