body {
  width: 40%;
  margin: auto;
  font: 100% sans-serif;
}
/*Regla de estilo por elemento*/
h2 {
  color: red;
  width: 500px;
  border: 1px solid black;
}
/*Regla de estilo por clases*/
.btnE {
  line-height: 1.5;
  color: white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: rgb(13, 110, 253);
  border-color: #0d6efd;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.btnE:hover {
  background-color: rgb(11, 94, 215);
  color: white;
}

.btnV {
  line-height: 1.5;
  color: white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: rgb(25, 135, 84);
  border-color: rgb(25, 135, 84);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.btnV:hover {
  background-color: rgb(21, 115, 71);
  color: white;
}

/*Regla de estilo por ID*/
#menu1 {
  color: rgb(15, 161, 228);
  background-color: rgb(255, 190, 190);
}

/*Regla de estilo por Grupo*/
.pe2,
h3 {
  color: rgb(0, 153, 255);
}

/*Regla de estilo combinado*/
.mix1#mix2 {
  font: small-caps 100% serif;
  color: rgb(0, 89, 255);
  border: dotted;
  border-color: red;
}

/*Regla de estilo descendente*/
p button {
  line-height: 1.5;
  color: black;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: rgb(252, 255, 100);
  border-color: rgb(252, 255, 100);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

/*Regla de estilo Hijo*/

/*Regla de estilo Hermano*/

/*Regla de estilo Universal*/

/*Regla de estilo por selector de atributo igualación exacta*/

a[href="https://www.playlostark.com/es-es"] {
  font-family:cursive;
  color:gold;
  text-align: right;
  background-color:lightslategrey;
  border-radius: 0.1rem;
}

/*Regla de estilo por selector de atributo igualación comienza con*/
button[id^="wujuu"]{
  line-height: 1.5;
  color:ghostwhite;
  text-align: center;
  vertical-align: middle;
  cursor:progress;
  background-color: rgb(118, 125, 221);
  border-color: rgb(118, 125, 221);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 2rem;
  transform: rotate(-10deg);
}
/*Regla de estilo por selector de atributo igualación finaliza con*/
button[id$="wujup"]{
  line-height: 1.5;
  color:ghostwhite;
  text-align: center;
  vertical-align: middle;
  cursor:zoom-in;
  background-color: rgb(44, 214, 200);
  border-color: rgb(44, 214, 200);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 1rem;
  transform: rotate(20deg);

}
/*Regla de estilo por selector de atributo igualación contiene*/

a[href*="instagram"] {
  background-color:cyan;
}
/*Regla de estilo por selector de atributo igualación múltiple*/
a[href*=".com" ] {
  color: rgb(92, 17, 190);
  width: 20em;
}
a[href*="watch"] {
  font-size: xx-large
}


/*Regla de estilo por selector de de pseudo clase*/
.a:link
.a:visited{
  color:rgb(151, 21, 190);
  font-weight: bold;
 

}
.a:hover{
  color: springgreen;
  
}
